<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
      <script th:src="@{/js/login.js}"></script>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles2.css" rel="stylesheet" />
         <!-- end -->
   </head>
    
    <body>
  
     <th:block th:include="/_menu"></th:block>  
     <div>
     <th:block th:include="/loginDiv"></th:block>  
     </div>
     
     </div>
    
       
   </body>
</html></div>